# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyPI distribution/packaging
dist/
*.egg-info/
__pycache__/
build/

# Local development settings
.idea/
.vscode/
*.code-workspace

# Virtual environment
venv/
__pyenv__/

# Data and logs
data/
logs/
*.txt
examples/img/

# Model
*.pth

# Amazon SageMaker
.sagemaker/

# Adversarial Robustness Toolbox (ART)
artifacts/
*.npy

# PyTorch
__torch_data_dir__/

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled source
*.so
*.dylib

# Mac metadata files
.DS_Store
*.DS_Store
src/aiml/test_c.py

venv*/
!dev-requirements.txt
