absl-py==2.0.0
accelerate==0.23.0
adversarial-insight-ml==0.1.0
adversarial-robustness-toolbox==1.16.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.12.0
async-timeout==4.0.3
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
cmaes==0.10.0
colorlog==6.7.0
contourpy==1.1.1
cycler==0.11.0
detectors==0.1.10
faiss-cpu==1.7.4
filelock==3.12.4
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.2
google-auth==2.23.1
google-auth-oauthlib==1.0.0
grpcio==1.58.0
huggingface-hub==0.17.3
idna==3.4
imageio==2.31.4
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
lightning-utilities==0.9.0
littleutils==0.2.2
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.26.0
oauthlib==3.2.2
ogb==1.3.6
optuna==3.3.0
outdated==0.2.2
packaging==23.1
pandas==2.1.1
Pillow==10.0.1
pip==23.2.1
protobuf==4.24.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytorch-lightning==2.0.9
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn==1.1.3
scipy==1.11.3
setuptools==68.0.0
six==1.16.0
SQLAlchemy==2.0.21
sympy==1.12
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tifffile==2023.9.26
timm==0.8.19.dev0
torch==2.0.1
torchmetrics==1.2.0
torchvision==0.15.2
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
Werkzeug==2.3.7
wheel==0.41.2
wilds==2.0.0
yarl==1.9.2
